* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style-type: none;
}

.main-header { 
    position: relative;
    width: 90%;
    padding: 40px 60px 0 60px;
    margin-bottom: 0;
 }

 nav {
    display: flex;
    width: 85%;
    margin: auto;
    padding: 20px 0 0;
    justify-content: space-between;
}

h1 {
    font-size: 100px;
    color: rgb(190, 191, 192);
    text-decoration: underline overline;
    text-decoration-color: black;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px 0;
}

nav a {
    color: rgb(190, 191, 192); 
}

nav a:hover {
    color: red;
}

.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./image/desktop-wallpaper-demon-slayer-2560x1440-demon-slayer-banner.jpg);
    background-size: cover;
    background-position: center;
}

.sidenav {
    position: relative;
}

.content {
    position: relative;
    width: 100%;
} 

#Biography, #Contact-Info {
    height: 250px;
}

.content h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 35px;
    width: 250px;
    height: 500px;
    margin-top: 50px;
    border-right: double black 5px;
}

.content aside {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.card {
    height: 75%;
    margin-left: 90px 10px;
}
    
img {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    border: 5px solid black;
}

.info {
    display: flex;
    width: 85%;
    margin: auto;
    padding: 20px 0 0;
    justify-content: space-between;
}

.info ul li {
    display: inline-block;
    margin: 10px 100px;
}


@media screen and (max-width: 992px) {
    header {
      color: rgb(68, 155, 249);
    }
  }

@media screen and (max-width: 768px) {
    nav a:hover {
      background-color: black;
      color: white;
    }
  }
  
@media screen and (max-width: 576px) {
    body {
      background-color: rgb(68, 155, 249);
    }
  }