* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style-type: none;
}

.main-header { 
    position: relative;
    padding: 40px 20px 0 20px;
 }

 nav {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 20px 0 0;
    justify-content: space-between;
}

h1 {
    font-size: 100px;
    color: rgb(190, 191, 192);
    text-decoration: underline overline;
    text-decoration-color: black;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px 0;
    padding-top: 75px;
}

nav a {
    color: rgb(190, 191, 192); 
}

nav a:hover {
    color: red;
}

.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./image/desktop-wallpaper-demon-slayer-2560x1440-demon-slayer-banner.jpg);
    background-size: cover;
    background-position: center;
}


.content {
    display: flex;
    position: relative;
    width: 100%;
} 

#Biography {
    width: 14%;
    height: 200px;
}

hr {
    border: double black 3px;
}

.content h2 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 35px;
    margin-top: 25px 0;
    margin-bottom: 25px;
}

#bio {
    padding: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
 }

#bio p {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
}

#bio img {
    opacity: 100%;
    width: 300px;
    height: 400px;
    float: right;
    border: none;
}

aside {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 10px;
    padding: 100px;
}

p {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#My-Experience {
    width: 15%;
    height: 750px;
}

.card {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 20px 20px 10px;
    padding: 100px;
    /* height: 75%;
    margin-left: 90px 10px; */
}

img {
    width: 350px;
    height: 350px;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
}

#firstcard img {
    width: 57vw;
    height: 400px;
}

img:hover {
    transition: .5s ease;
    opacity: 50%;

}
.textbox {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
  }

.textbox h4 {
    position: absolute;
    background-color: black;
    color: rgb(190, 191, 192);
    padding: 5px;
    bottom: 46px;
    left: 275px;
}

#Contact-Info {
    width: 16.5%;
}
#info {
    display: flex;
    width: 100%;
    height: 50%;
    margin: auto;
    justify-content: space-around;
}

#info ul li {
    display: inline-block;
    margin: 10px 20px 0;
    padding: 50px
}

@media screen and (max-width: 892px) {
    header {
      color: rgb(68, 155, 249);
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
}
    nav ul li {
    margin: 0px 15px;
    }

    #bio {
        justify-content: center;
        flex-direction: row;
    }

    #My-Experience {
        padding-right: 9%;
    }

    #info ul {
        width: 100vh;
    }
    #info ul li {
        padding: 0 40px;
  }

@media screen and (max-width: 768px) {
    #bio {
        /* display: flex; */
        flex-wrap: wrap;
    }
    nav a:hover {
      background-color: black;
      color: white;
    }
  }
  
@media screen and (max-width: 663px) {
    body {
      background-color: rgb(68, 155, 249);
    }
  }